

    <section class="books-section">
        <div id="book-list-container" class="books-container">
            <!-- Books will be dynamically inserted here -->
        </div>
    </section>
<script src="/script/booksall.js"></script>