<h5>Change Password</h5>
<div class="password_change_div">
    <div class="password-change-form">
        <form id="updatePasswordForm" class="updatePasswordForm">
            
            <input type="password" id="currentPassword" name="currentPassword" placeholder="Old Password" required>
            
            <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
            
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repeat Password" required>
            
            <button type="submit">Save</button>
        </form>
    <div id="responseMessage"></div>
</div>

</div>