<header>
    <nav>
        <ul class="logo">
            <li class="logo_li">
                <a href="/home">
                    <img src="/images/logo-1.svg" alt="Open Library Logo">
                </a>
            </li>
        </ul>
        <ul class="title">
            <li>
                <a href="/home">
                    <img src="/icons/home_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="Home">Home
                </a>
            </li>
            <li>
                {{!-- <a href="/certificate">
                    <img src="/icons/library_books_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="Certificate">Activities
                </a> --}}
                <a href="/news">
                    <img src="/icons/library_books_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="News">News
                </a>
            </li>
            <li>
                <a href="/activities">
                    <img src="/icons/handshake.png" alt="Activities">Activities
                </a>
            </li>
            <li>
                <a href="/mycourse">
                    <img src="/icons/school_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="Platform">Platform
                </a>
            </li>
            <li>
                <a href="/aboutus">
                    <img src="/icons/security_key_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="About us">About us
                </a>
            </li>
        </ul>
        <ul class="profile">
            <li>
                <a id="userName" href="/profile">{{userName}}<img src="/icons/person_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="Profile"></a>
            </li>
        </ul>
        {{!-- <select id="language-select">
            <option value="en"><a href="/change-language/en">English</a></option>
            <option value="ru"><a href="/change-language/ru">Русский</a></option>
            <option value="ka"><a href="/change-language/ka">ქართული</a></option>
        </select> --}}
        <div class="burger-btn" id="burger-btn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </nav>
    <div class="sidebar" id="sidebar">
        <ul>
            <li>
                <a href="/home">
                    <img src="/icons/home_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="Home">Home
                </a>
            </li>
            <li>
                <a href="/certificate">
                    <img src="/icons/library_books_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="Certificate">Certificate
                </a>
            </li>
            <li>
                <a href="/mycourse">
                    <img src="/icons/school_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="My Curses">My Curses
                </a>
            </li>
            <li>
                <a href="/aboutus">
                    <img src="/icons/security_key_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="About us">About us
                </a>
            </li>
            <li>
                <a id="userName" href="/profile">{{userName}}<img src="/icons/person_24dp_5985E1_FILL0_wght400_GRAD0_opsz24.svg" alt="Profile"></a>
            </li>
        </ul>
    </div>
</header>

<script src="/script/header.js"></script>
