<div class="collaborate_div"> 
            <div class="collaborate_div_logo">
                <h2>Partners</h2>
                <div>
                    <img src="./images/logo-1.svg" alt="">
                    <img src="./images/logo-1.svg" alt="">
                    <img src="./images/logo-1.svg" alt="">
                    <img src="./images/logo-1.svg" alt="">
                    <img src="./images/logo-1.svg" alt="">
                </div>
            </div>
</div>