<div class="carousel-container">
    <button class="prev">&#10094;</button>
    <div class="carousel">
        <div class="carousel-track" id="books-grid">
            <!-- Books will be dynamically inserted here -->
        </div>
    </div>
    <button class="next">&#10095;</button>
</div>


{{!-- 
<div class="carus">
    <div class="carus_div">
        <div class="carus_img">
            <img src="/uploads/edited.jpg" alt="">
        </div>
        <div class="carus_title">   
            <h4>opana</h4>
            <p>adbybequyfbqyufbqiufb</p>
        </div>
    </div>
</div> --}}



