<link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="style/aboutus.css">
{{>header}}

<section class="main">
    <div class="main_div">
        <div class="title_div">
            
            <h6>About Us</h6>
            <h1>We connect students and teachers lorem ipsum dolor sit amet, consectetur.</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, expedita. Esse nostrum nisi reiciendis provident, magni repellendus nesciunt quasi aut excepturi amet quos porro cupiditate dignissimos quidem explicabo doloribus perspiciatis?</p>
            <hr class="vision_hr">
        </div>
        
        <div class="vision_div">
            <div class="vision_div_left">
                <span>Our Vision</span>
                <h3>Consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h3>
            </div>
            <div class="vision_div_right">
                <span>Our Mission</span>
                <h3>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
            </div>
        </div>
        <div class="partners_div">
            {{> partners}}
        </div>
        
    </div>
</section>




{{>footer}}

<script src="/script/aboutus.js"></script>