<link rel="stylesheet" href="/style/style.css"> <!-- Link to the external CSS file -->
{{>header}}

<div class="news_details">
    <div class="news_details_div">
        

        {{#if news.image}}
            <img src="{{news.image}}" /><br />
        {{/if}}
        <h1>{{news.title}}</h1>

        <!-- created_at date -->
        <span class="news_created_at">{{news.created_at}}</span>

        <p>{{{news.content}}}</p>
    </div>
</div>

{{>footer}}
